@model PTE_Web.Models.MGUPageDataTable

@{
    ViewBag.Title = "MGUDashBoard";
    Layout = "~/Views/Shared/_Layout_bootstrap.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <form method="post" name="DateRangeForm" action="@ViewContext.RouteData.Values["action"]">
                <div class="input-group">
                    <b style="font-size:30px;"><span style="color:black">GPN: </span></b>
                    @Html.DropDownList("DropDownList_GPN", (IEnumerable<SelectListItem>)ViewBag.GPNList, htmlAttributes: new { @style = "height:50px;width:300px;font-size:30px" })
                    @*<b style="font-size:30px;padding-right:30px"><span style="color:black">  From </span></b>
                    <input class=flatpickr style="width:200px;font-size:30px;padding-right:30px" type="text" placeholder=@TempData["StartDate"] name="startdate" data-id="rangePlugin">
                    <b style="padding-right:30px;padding-left:30px;font-size:30px"><span style="color:black">  to   </span></b>
                    <input type="text" align="middle" style="padding-right:30px;width:200px;font-size:30px" placeholder=@TempData["EndDate"] id="secondRangeInput" name="enddate">*@
                    <input type='submit' class="btn waves-effect waves-light btn-primary" style="font-size:30px;margin-top:-20px;margin-left:15px;text-align:center;" value='Go' />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="white-box">
            <h2 class="header-title">All JobNumber Info</h2>
            <div class="table-responsive" style="height:400px">
                <table id="example_1" class="display table" style="font-size:15px">
                    <thead>
                        <tr style="text-align: right;">
                            <th>@Html.DisplayNameFor(model => model.SOList.First().JobNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.SOList.First().PartNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.SOList.First().ProdVersion)</th>
                            <th>@Html.DisplayNameFor(model => model.SOList.First().SWVersion)</th>
                            <th>@Html.DisplayNameFor(model => model.SOList.First().D_Total)</th>
                            <th>@Html.DisplayNameFor(model => model.SOList.First().Order_Date)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SOList)
                        {
                            <tr>
                                <td><input id="@item.JobNumber" type="button" onclick="BtnClick()" value="@item.JobNumber" class="btn btn-info"></td>

                                <td>@Html.DisplayFor(modelItem => item.PartNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.ProdVersion)</td>
                                <td>@Html.DisplayFor(modelItem => item.SWVersion)</td>
                                <td>@Html.DisplayFor(modelItem => item.D_Total)</td>
                                <td>@Html.DisplayFor(modelItem => item.Order_Date)</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="divContainer">
        @*@Html.Partial("GetSOStationData", ViewData)*@
        @*<img id="loading" src="~/Content/ajax-loader.gif" alt="" />*@
        @Html.Partial("_GetSOStationData", Model.SingleDetailSOList)
    </div>
</div>

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("input[type='button']").click(function (e) {
            $.blockUI({
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    opacity: .6
                }
            });

            $.ajax({
                type: "POST",
                async: true,
                url: "../MGU/_GetSOStationData",
                data: { "so": $(this).attr('id'), "gpn": $("#DropDownList_GPN option:selected").val(), "sdate": $("#sdate").val(), "edate": $("#edate").val() },
                success: function (data) {
                    $("#divContainer").html(data);
                    $.unblockUI();

                },
                error: function () {
                    alert("Something went wrong in controller.");
                    $.unblockUI();
                }
            });
        });
    });
</script>

<script data-config>
    var id = function (id) {
        return document.getElementById(id);
    };
    var table = id('example_1');
    var totRowIndex = table.getElementsByTagName('tr').length;
    var tfConfig = {
        // instruct TableFilter location to import ressources from
        base_path: '~/Content/TableFilter/',
        paging: {
            results_per_page: ['Records: ', [10, 25, 50, 100]]
        },
        //col_1: 'select',
        alternate_rows: true,
        rows_counter: true,
        btn_reset: true,
        loader: true,
        status_bar: true,
        sort: true,
        sort_config: {
            sort_types: ['String', 'String', 'String', 'String', 'US', 'String']
        },
        mark_active_columns: true,
        highlight_keywords: true,
        //no_results_message: true,
        col_types: [
            'string', 'string', 'string', 'string', 'number', 'string'
        ],
        col_widths: [
            '140px', '140px', '140px', '140px', '105px', '210px'
        ],
        extensions: [{ name: 'sort' }]

    };

    var tf = new TableFilter('example_1', tfConfig);
    tf.init();
</script>