@using PTE_Web.Models;
@model AnalyzePageModels

<div class="table-responsive" style="min-width:800px;height:780px">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<table id="cpktable" class="display table">
		<thead>
			<tr>
				<th>DBIndex</th>
				<th>ItemDescription</th>
				<th>MinSpec</th>
				<th>MaxSpec</th>
				<th>TestCount</th>
				<th>Cpk</th>
				<th>Detail</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var row in Model.CpkModel.CpkTable)
			{
				<tr>
					<td>@row.DBIndex</td>
					<td>@row.ItemDescription</td>
					<td>@row.MinSpec</td>
					<td>@row.MaxSpec</td>
					<td>@row.TestCount</td>
					<td>@row.Cpk</td>
					<td>

						<button type="button" id="btnAdd" class="btn btn-success" onclick="getHistogram('@row.DBIndex','@row.ItemDescription','@Html.Raw(Model.CpkModel.Items[Convert.ToInt32( row.DBIndex)].Item1)','@Html.Raw(Model.CpkModel.Items[Convert.ToInt32( row.DBIndex)].Item2)','@row.Cpk','@row.MinSpec','@row.MaxSpec','@row.dataMin','@row.dataMax','@row.SD','@row.AVG');GetResultsJSON('@ViewBag.Org', '@ViewBag.Source','@ViewBag.ItemNameType', '@row.DBIndex', '@row.MinSpec', '@row.MaxSpec', '@ViewBag.StartDate', '@ViewBag.EndDate', '@row.Cpk');getCpkTbl('@row.ItemDescription', '@row.DataRange', '@row.TestCount', '@row.FailCount', '@row.Spec', '@row.FailRate', '@row.Cpk') "><i class="fas fa-bar-chart"></i> Detail</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>